*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 29px;
  padding: 133px 30px 130px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 399px;
  max-height: 298px;
  overflow-y: auto;
  gap: 28px;
  padding-bottom: 2px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  min-width: 194px;
  height: 103px;
  object-fit: cover;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content__video-card-description-container {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 1.95px;
  text-decoration-thickness: 1.5px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.content__list-item {
  padding: 3px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0 0 5px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
  padding-inline: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Fira Sans Condensed';
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: #fff solid 1px;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.button {
  border: #fff solid 1px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  font-stretch: semi-condensed;
}

.more-button {
  width: 100%;
  min-height: 34px;
  font-stretch: semi-condensed;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}
