*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 133px 30px;
  align-items: flex-end;
  max-width: 1140px;
}

.result {
}

.content__details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__list-container {
  max-height: 298px;
  width: 100%;
  max-width: 399px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 36px; 
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: ;
  flex-shrink: 0;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: 'Oswald';
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
  font-style: bold;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  flex: 1; 
  min-width: 0; 
  overflow: hidden;
  flex-grow: 1;
}

.content__video-card-title {
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Fira Sans Condensed';
  font-size: 30px;
  font-weight: 700;
  font-style: bold;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  -webkit-line-clamp: 3;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border-bottom: #fff solid 1px;
  border-top: #fff solid 1px;
  border-right: none;
  appearance: none;
  min-width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7)
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: #fff solid 1px;
}

.search-form__pseudo-checkbox::after {
content: "";
display: block;
background-color: #fff;
width: 100%;
height: 100%;
opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after  {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

.button {
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: #fff solid 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;